<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IDSFoundation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AA9FBAD1F340D8D0029A608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AA9FBC61F340D8D0029A608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AA9FBD11F340D8D0029A608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
